body
  background: lightgoldenrodyellow

.circle_list_title,.register_title,.login_title
  margin-top: 0px
  text-align: center

.circle_list_button,.register_button,.login_button
  width: 100%

.create_circle_form
  .form_submit
    input:nth-child(1)
      padding-right: 10px
  .create_circle
    input
      width: 100%
  .create_sector
    input:nth-child(1)
      width: 65%
      display: inline-block
    input:nth-child(2)
      width: 33%
      display: inline-block

